# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Python Cache
__pycache__/
*.pyc

# Ignore user-added input data and generated output documents/images in data/
data/**/*.png
data/**/*.jpg
data/**/*.jpeg
data/**/*.docx
data/**/*.pdf
data/**/*.csv
data/**/*.xlsx

# Ensure directory tracking files (.null) are not ignored
!**/*.null
!**/*.gitkeep

# Ignore process run logs and temporary files
logs/process_logs/*
!logs/process_logs/.null
scratch/
